* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "biyekan";
  src: url(../Font_files/transfonter.org-20230716-122746/BYekan.eot)
      format("embedded-opentype"),
    url(../Font_files/transfonter.org-20230716-122746/BYekan.ttf)
      format("truetype"),
    url(../Font_files/transfonter.org-20230716-122746/BYekan.woff)
      format("woff");
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: biyekan;
  background-color: whitesmoke;
}

.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-text-regular-italic {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}

/* navigation bar */

.nav-container {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container .title-container {
  width: 350px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-container h3 {
  font-size: 24px;
  font-family: biyekan;
  background: linear-gradient(
    110deg,
    rgba(0, 174, 255),
    rgb(183, 0, 255) 33%,
    rgb(255, 0, 149) 66%,
    rgb(255, 174, 0)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.nav-container .list-container {
  width: 600px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-container ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: biyekan;
}

.nav-container ul li {
  font-size: 16px;
  font-weight: 500;
  margin: 0 20px;
}

.nav-container ul li a {
    display: inline-block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: all 0.3s;
}

.nav-container ul li a:hover {
    transform: translateY(-5px);
}

.nav-container .icon-container {
  width: 315px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-container .icon-container button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.nav-container .icon-container button img{
  transform: scaleX(-1);
}

.nav-container .icon-container button span{
  margin-top: 5px;
  color: rgb(0, 0, 0);
}


/*! previous concept */
/* 
.container{
  width: 45%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
}

.container h1{
    font-size: 47px;
    margin-top: 110px;
}

.container p{
    font-size: 16px;
    margin-top: 30px;
    text-align: center;
    line-height: 26px;
}

.container h2{
    font-size: 28px;
    margin-top: 30px;
} */




/*! ================== chapter 1 Introduction */

.chapter-1-container{
  width: 100%;
  height: 570px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.chapter-1-container h1{
  font-size: 130px;
  color: black;
  margin-top: 30px;
  margin-bottom: 30px;
}

.chapter-1-container h1 b{
  color: black;
  background-color: rgb(255, 255, 0);
}


/* Cursor */
h1.cursor {
  border-right: 2px solid rgba(0, 0, 0, 0.75);
  white-space: nowrap;
  overflow: hidden;
}

/* Animation */
h1.typewriter-animation {
  animation: typewriter 5s steps(40) 1s 1 normal both,
  blinkingCursor 700ms steps(50) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 79%;
  }
}

@keyframes blinkingCursor {
  from {
    border-right-color: rgba(0, 0, 0, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}


.chapter-1-container p{
  width: 880px;
  font-size: 19px;
  color: rgb(17, 17, 17);
  text-align: center;
  line-height: 28px;
  margin-bottom: 10px;
}

.chapter-1-container p:last-child{
  width: 1100px;
}

.chapter-1-container img{
  width: 350px;
  position: absolute;
  top: 750px;
  right: 120px;
  z-index: -1;
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0.5s;
}



/*! ========================  chapter 2 syntax */

.chapter-2-container {
  width: 100%;
  height: 1600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 115px;
}


.chapter-2-container h1{
  font-size: 45px;
  margin-top: 110px;
}

.chapter-2-container .text-container-chapter2{
  width: 87%;
  height:100%;
  margin-top: 30px;
  /* background-color: red; */
}


.text-container-chapter2 p{
  color: black;
  font-size: 18px;
  margin-left: 5px;
  margin-bottom: 30px;
}

.text-container-chapter2 ul{
  margin-left: 50px;
}

.text-container-chapter2 ul li{
  margin: 10px 0;
  text-align: justify;
}


.text-container-chapter2 p:nth-of-type(2){
  font-size: 20px;
  margin-top: 50px;
  font-weight: 800;
}



.text-container-chapter2 .class-explanation:nth-of-type(1){
  width: 98%;
  height: 165px;
  font-style: italic;
  padding: 15px 0;
  padding-left: 25px;
  margin-top: 15px;
  border-radius: 5px;
  border-left: 5px solid aqua;
  background-color: rgb(212, 212, 212);
}

.text-container-chapter2 p:nth-of-type(3){
  font-size: 18px;
  margin-top: 40px;
}

.text-container-chapter2 .class-explanation:nth-of-type(2){
  width: 98%;
  height: 445px;
  font-style: italic;
  padding: 15px 0;
  padding-left: 25px;
  margin-top: 15px;
  border-radius: 5px;
  border-left: 5px solid aqua;
  background-color: rgb(212, 212, 212);
}

.text-container-chapter2 .class-explanation .blue{
  color: rgb(0, 60, 255);
}