* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "biyekan";
  src: url(../Font_files/transfonter.org-20230716-122746/BYekan.eot)
      format("embedded-opentype"),
    url(../Font_files/transfonter.org-20230716-122746/BYekan.ttf)
      format("truetype"),
    url(../Font_files/transfonter.org-20230716-122746/BYekan.woff)
      format("woff");
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: biyekan;
  background-color: whitesmoke;
}

.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-text-regular-italic {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}

/* navigation bar */

.nav-container {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container .title-container {
  width: 350px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-container h3 {
  font-size: 24px;
  font-family: biyekan;
  background: linear-gradient(
    110deg,
    rgba(0, 174, 255),
    rgb(183, 0, 255) 33%,
    rgb(255, 0, 149) 66%,
    rgb(255, 174, 0)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.nav-container .list-container {
  width: 600px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-container ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: biyekan;
}

.nav-container ul li {
  font-size: 16px;
  font-weight: 500;
  margin: 0 20px;
}

.nav-container ul li a {
    display: inline-block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: all 0.3s;
}

.nav-container ul li a:hover {
    transform: translateY(-5px);
}

.nav-container .icon-container {
  width: 315px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-container .icon-container button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.nav-container .icon-container button img{
  transform: scaleX(-1);
}

.nav-container .icon-container button span{
  margin-top: 5px;
  color: rgb(0, 0, 0);
}


/*! previous concept */
/* 
.container{
  width: 45%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
}

.container h1{
    font-size: 47px;
    margin-top: 110px;
}

.container p{
    font-size: 16px;
    margin-top: 30px;
    text-align: center;
    line-height: 26px;
}

.container h2{
    font-size: 28px;
    margin-top: 30px;
} */




/*! ================== chapter 1 Introduction */

.chapter-1-container{
  width: 100%;
  height: 570px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.chapter-1-container h1{
  font-size: 130px;
  color: black;
  margin-top: 30px;
  margin-bottom: 30px;
}

.chapter-1-container h1 b{
  color: black;
  background-color: rgb(255, 255, 0);
}


/* Cursor */
h1.cursor {
  border-right: 2px solid rgba(0, 0, 0, 0.75);
  white-space: nowrap;
  overflow: hidden;
}

/* Animation */
h1.typewriter-animation {
  animation: typewriter 5s steps(40) 1s 1 normal both,
  blinkingCursor 700ms steps(50) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 79%;
  }
}

@keyframes blinkingCursor {
  from {
    border-right-color: rgba(0, 0, 0, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}


.chapter-1-container p{
  width: 880px;
  font-size: 19px;
  color: rgb(17, 17, 17);
  text-align: center;
  line-height: 28px;
  margin-bottom: 10px;
}

.chapter-1-container p:last-child{
  width: 1100px;
}

.chapter-1-container img{
  width: 350px;
  position: absolute;
  top: 750px;
  right: 120px;
  z-index: -1;
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0.5s;
}



/*! ========================  chapter 2 syntax */

.chapter-2-container {
  width: 100%;
  height: 1600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 115px;
}


.chapter-2-container h1{
  font-size: 45px;
  margin-top: 110px;
}

.chapter-2-container .text-container-chapter2{
  width: 87%;
  height:100%;
  margin-top: 30px;
  /* background-color: red; */
}


.text-container-chapter2 p{
  color: black;
  font-size: 18px;
  margin-left: 5px;
  margin-bottom: 30px;
}

.text-container-chapter2 ul{
  margin-left: 50px;
}

.text-container-chapter2 ul li{
  margin: 10px 0;
  text-align: justify;
}


.text-container-chapter2 p:nth-of-type(2){
  font-size: 20px;
  margin-top: 50px;
  font-weight: 800;
}



.text-container-chapter2 .class-explanation:nth-of-type(1){
  width: 98%;
  height: 165px;
  font-style: italic;
  padding: 15px 0;
  padding-left: 25px;
  margin-top: 15px;
  border-radius: 5px;
  border-left: 5px solid aqua;
  background-color: rgb(212, 212, 212);
}

.text-container-chapter2 p:nth-of-type(3){
  font-size: 18px;
  margin-top: 40px;
}

.text-container-chapter2 .class-explanation:nth-of-type(2){
  width: 98%;
  height: 445px;
  font-style: italic;
  padding: 15px 0;
  padding-left: 25px;
  margin-top: 15px;
  border-radius: 5px;
  border-left: 5px solid aqua;
  background-color: rgb(212, 212, 212);
}

.text-container-chapter2 .class-explanation .blue{
  color: rgb(0, 60, 255);
}


.text-container-chapter2 p:nth-of-type(4){
  font-size: 18px;
  margin-top: 40px;
}




/*! ========================  chapter 3 Key features of js */

.chapter-3-container {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 115px;
}


.chapter-3-container h1{
  font-size: 80px;
  margin-top: 50px;
}


.chapter-3-container p{
  color: black;
  font-size: 18px;
  margin-left: 5px;
  margin-bottom: 20px;
}

/* .text-container-chapter3 ul{
  margin-left: 50px;
}

.text-container-chapter3 ul li{
  margin: 10px 0;
  text-align: justify;
} */


.chapter-3-container .costom-container{
  width: 100%;
  height: 550px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}


.list-container-chapter3{
  width: 190px;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  margin-left: 30px;
  margin-top: 20px;
}

.list-container-chapter3 ul li{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 90px;
  margin: 13px 0;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.6s;
}


.list-container-chapter3 ul li:nth-of-type(1){
  color: rgb(245, 245, 245);
  background-color: black;
  border-bottom-right-radius: 30%;
  transform:scale(1.1);
}



.content-container-chapter3{
  width: 800px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 80px;
  position: relative;
}


.content-container-chapter3 .content{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  transition: all 0.6s;
  position: absolute;
  top: 10px;
  left: 0;
  overflow: hidden;
}

.content-container-chapter3 .content p{
  font-size: 19px;
  font-weight: 600;
  line-height: 28px;
  z-index: 10;
  text-align: center;
  position: absolute;
}

.content-container-chapter3 .content img{
  position: absolute;
  z-index: 1;
}

/*! ============     1    ================= */

.content-container-chapter3 .content-li1{
  display: flex;
  opacity: 1;
  justify-content: flex-start;
  padding: 25px 15px;
}

.content-container-chapter3 .content-li1 p{
  top: 35px;
  left: 10px;
}


.content-container-chapter3 .content-li1 img{
  width: 900px;
  top: 55px;
  left: 35px;
}

/*! ================   2   =============== */

.content-container-chapter3 .content-li2{
  opacity: 0;
  overflow: visible;
}

.content-container-chapter3 .content-li2 p{
  left: -5px;
  bottom: 60px;
}

.content-container-chapter3 .content-li2 img{
  width: 470px;
  top: -40px;
  right: 10px;
  transform: rotate(-17deg);
}

/*! ==============    3    =============== */

.content-container-chapter3 .content-li3{
  opacity: 0;
}

.content-container-chapter3 .content-li3 p{
  right: 10px;
  bottom: 50px;
}

.content-container-chapter3 .content-li3 img{
  width: 340px;
  top: 50px;
  left: 50px;
  animation: rotation 14s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

/*! ==============    4   =============== */

.content-container-chapter3 .content-li4{
  opacity: 0;
  overflow: visible;
}

.content-container-chapter3 .content-li4 p{
  left: 0px;
  top: 120px;
}

.content-container-chapter3 .content-li4 img{
  width: 460px;
  top: -20px;
  right: -65px;
}





/*! ========================  chapter 4 advantages and disadvantages of js */


.chapter-4-container {
  width: 100%;
  height: 940px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  margin-top: 150px;
}


.chapter-4-container .btns-container {
  width: 34.3%;
  height: 8.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  padding: 1px 1px;
  background-color: rgb(163, 163, 163);
}

.btns-container button{
  width: 230px;
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 700;
  border: none;
  outline: none;
  padding: 20px ;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.1s;
  background-color: rgba(63, 63, 63, 0);
}

.btns-container button:nth-child(1){
  background-color: rgb(0, 0, 0);
}


/* .btns-container button:hover{
  animation: bounce 0.5s linear ;
} */

/* @keyframes bounce {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1.05);
  }
  75% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
} */



.chapter-4-container .content-container {
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}


.content-container div{
  width: 85%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-radius: 12px;
  padding: 10px 0;
}

/* ! ====================  advantages content */
.content-container div.advantages-content{
  display: flex;
  opacity: 1;
  transition: 0.3s;
}

.content-container div.advantages-content p.explane {
  text-align: center;
  font-size: 17px;
  font-weight: 900;
  margin-top: 5px;
}


.content-container div .content{
  width: 46%;
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 12px;
  padding: 10px 23px;
  position: relative;
  background-color: rgb(214, 214, 214);
}

.content-container div.advantages-content .content span{
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: 18px;
  background-color: rgb(0, 0, 0);
}

.content-container div.advantages-content .content h2{
  margin-top: 20px;
  margin-left: 75px;
}

.content-container div.advantages-content .content p{
  margin-top: 25px;
}

.content-container div.advantages-content .content:nth-of-type(2) p{
  margin-top: 20px;
}

.content-container div.advantages-content .content:nth-of-type(4) p{
  margin-top: 20px;
}



/*! ========================  disadvantages content */
.content-container div.disadvantages-content{
  display: none;
  opacity: 1;
  transition: 0.3s;
}

.content-container div.disadvantages-content p.explane {
  text-align: center;
  font-size: 17px;
  font-weight: 900;
  margin-top: 5px;
}

.content-container div.disadvantages-content .content span{
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: 18px;
  background-color: rgb(0, 0, 0);
}


.content-container div.disadvantages-content .content h2{
  margin-top: 20px;
  margin-left: 75px;
}


.content-container div.disadvantages-content .content p{
  margin-top: 25px;
}

.content-container div.disadvantages-content .content:nth-of-type(2) p{
  margin-top: 20px;
}


.content-container div.disadvantages-content .content:nth-of-type(5) h2{
  margin-top: 3px;
}

.content-container div.disadvantages-content .content:nth-of-type(5) p{
  margin-top: 3px;
}


.content-container div.disadvantages-content .content:nth-of-type(6) h2{
  margin-top: 2px;
}

.content-container div.disadvantages-content .content:nth-of-type(6) p{
  margin-top: 4px;
}